html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

*, *::before, *::after {
    box-sizing: inherit;
}

*{
    font-family: 'Inter', sans-serif;
}

nav{
    padding: 1.6rem;
    background-image: linear-gradient(rgb(0, 0, 0),rgb(6, 17, 28));
    font-size: 1.5rem;
    height: 5.2rem;
}


.navUnordered{
    display: grid;
    grid-template-columns: 1fr repeat(3, fit-content(50px));
    grid-gap: 20px;
    justify-content: center;
    justify-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: rgb(201, 201, 201);
    transition: .1s;   
}

.navBar ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #2f69b4;
    display: block;
    margin: auto;
    transition: .35s;
}

.navBar ul li:hover::after{
    width: 100%;
}


.navHome{
    grid-column: 1 / 2;
    justify-self: start;
}

.nav-menu{
    display: none;
}

.navBar{
    transition: 2s;
}

@media(max-width:700px){
    .nav-media{
        display: contents;
    }

    .navUnordered{
        grid-template-columns: 1fr;
    }

    .nav-menu{
        display: block;
        filter: invert(100%);
        height: 3rem;
        width: 3rem;
        position: absolute;
        right: 0;
        margin-right: 20px;
        z-index: 2;
        margin-top: -6px;
    }

    .navBar li{
        display: none;
    }

    .navBar{
        position: absolute;
        background: #000000;
        height: calc(100vh - 4rem);
        width: 150px;
        top:0;
        right: -270px;
        text-align: left;
        z-index: 2;
        transition: .5s;
    }
    .navBar-show{
        position: absolute;
        background: #1c57a4;
        height: calc(100vh);
        width: 200px;
        display: flex;
        justify-content: center;
        top:0;
        right: 0px;
        text-align: left;
        z-index: 2;
        transition: .5s;
    }
    .navBar-show li{
        display: block;
        margin: 1rem;

    }
    .navBar-show ul{
        display: block;
        margin-top: 5.5rem;
    }
    .navHome{
        justify-self: center;
    }
}


.intro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: calc(100vh - 5.2rem);
    background-image: linear-gradient(rgb(6, 17, 28),rgba(4, 9, 30, 0)), url(../icons/background.jpg);
    background-size: cover;
    background-position: center center;
    color: aliceblue;
}

.container-intro{
    display: flex;
    width: 80%;
    max-width: 60rem;
    column-gap: 2rem;
}

.my-info{
    text-align: left;
}

.my-info h1{
    font-size: 2rem;
    text-align: center;
}
.my-info p{
    font-size: 1.2rem;
    text-align: justify;
}
.greyMe{
    border-radius: 49%;
    height: 20rem; 
    width: 22rem;
}

@media(max-width:700px){
    .container-intro{
        display: flex;
        width: 90%;
        flex-direction: column;
        align-items: center;
        margin-top: -4rem;
        padding: 1.5rem;
    }
    .greyMe{
        scale: .8;
    }
}
